Source: lliurex-resolver
Section: x11
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: cdbs, debhelper (>= 10), cmake (>= 2.8.0), libapt-pkg-dev
Standards-Version: 4.1.2

 
Package: lliurex-resolver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lliurex pool dependency helper
 This cli tool computes a list of dependencies, helping with pool maintaining



